.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  }
}

.part1,
.part2 {
  padding: 20px;
}

.part1 {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;

  .paragraphs {
    display: flex;
  }

  .leagueLogo {
    width: auto;
    height: 60px;
  }
  p {
    color: #858585;
  }
  .locationH {
    width: 50px;
    height: 50px;
    background-color: #0c7a3e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .locationA {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #0c7a3e 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c7a3e;
    font-size: 20px;
    font-weight: bold;
  }
}

.part2 {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;

  .matchDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
  }

  .team {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      font-size: 20px;
      margin-top: 5px;
      font-weight: bold;
      color: #000;
    }
  }

  .teamLogo {
    width: auto;
    height: 60px;
  }

  .score {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;

    .header {
      margin: 0;
      font-size: 15px;
      font-weight: normal;
      color: #979797;
    }
    .fulltimeScore {
      background-color: #4b0c10;
      color: #ffffff;
      font-weight: 900;
      padding: 10px;
      width: 100px;
      border-radius: 10px;
    }
    .halftimeScore {
      color: #979797;
      font-size: 15px;
      font-weight: normal;
    }
  }
  .button {
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: 768px) {
  .part1,
  .part2 {
    padding: 10px;
  }

  .part1 {
    background-color: #f4f4f4;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;

    .leagueLogo {
      width: auto;
      height: 40px;
    }
    p {
      color: #858585;
      font-size: 10px;
    }
    .locationH {
      width: 25px;
      height: 25px;
      background-color: #0c7a3e;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      color: white;
      font-size: 15px;
      font-weight: bold;
    }
    .locationA {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: #0c7a3e 1px solid;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      color: #0c7a3e;
      font-size: 15px;
      font-weight: bold;
    }
  }

  .part2 {
    background-color: #ffffff;
    display: block;
    justify-content: center;
  
    .matchDetails {
      display: block;
      justify-content: center;
      align-items: center;
    }
  
    .team {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      p {
        font-size: 15px;
        margin-top: 5px;
        font-weight: bold;
        color: #000;
      }
    }
  
    .teamLogo {
      width: auto;
      height: 40px;
    }
  
    .score {
      text-align: center;
  
      .header {
        margin: 0;
        font-size: 13px;
        font-weight: normal;
        color: #979797;
      }
      .fulltimeScore {
        background-color: #4b0c10;
        color: #ffffff;
        font-weight: 900;
        font-size: 13px;
        width: 70px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
      }
      .halftimeScore {
        color: #979797;
        font-size: 15px;
        font-weight: normal;
      }
    }
    .button {
      height: 40px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
