.appBar {
  height: 15vh;
}
.logoPart {
  margin-left: 50px;
}
.textPart {
  height: 100%;
  margin-left: 30px;
  font-weight: 900;
}
.topBar {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  height: 30%;
  padding: 10px;
  background-color: #006931 !important;

  .topMenus {
    display: flex;
  }
}
.bottomBar {
  height: 70%;
  .bottomMenus {
    display: flex;
    justify-content: space-between;
  }
  .bottomParagraph {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 500;
  }
  .responsiveMenu {
    display: flex;
  }
  .supportMenu {
    font-size: 30px;
    font-weight: 700;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
}

.paragraph {
  padding-right: 10px;
  padding-left: 5px;
  border-right: solid #ffffff83;
}
.paragraph:hover {
  background-color: #0b7a3f;
  cursor: pointer;
}
