.app-bar {
  height: 15vh;
}

.logo-part {
  margin-left: 50px;
}
.text-part {
  height: 100%;
  margin-left: 30px;
}
.top-bar {
  flex-grow: 1;
  height: 30%;
  padding: 10px;
}

.bottom-bar {
  height: 70%;
}
