.appBar {
  height: 15vh;
}
.logoPart {
  margin-left: 50px;
}
.textPart {
  height: 100%;
  margin-left: 30px;
}
.topBar {
  flex-grow: 1;
  height: 30%;
  padding: 10px;
}
.bottomBar {
  height: 70%;
}
