.topFooter {
  background-color: #0b7a3f !important;
}
.bottomFooter {
  background-color: #000000 !important;
}
.lines {
  color: #ffffff !important;
  width: 50%;
}
.logo {
  height: 150px;
  width: 150px;
}
.paragraph {
    color: #ffffff !important;
    font-weight: 900;
    justify-content: center;
    text-align: center;
}