.leagueTable {
    width: 100%;
    overflow-x: auto;
  }
  .leagueLogo {
    width: 40px;
    height: auto;
}
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    thead th {
      position: sticky;
      top: 0;
      background-color: white;
      border-bottom: solid 0.5px #060606;
      z-index: 1;
    }
  }
  
  .teamInfo {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .highlightRow {
    background-color: #4CAF50;
    color: white;
  }
  