.imageContainer {
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 100%;
}
.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}

.popupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.popupImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 15px;
}

.popupDescription {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.closePopup {
  background-color: #0b7a3f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.carouselImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageText {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
}

.imageTextBelow {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 14px;
}

.scrollableRow {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 30px;

  .col {
    flex: 0 0 auto;
    scroll-snap-align: center;
    width: 300px;
  }
}

@media (max-width: 768px) {
  .scrollableRow {
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .imageContainer {
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    height: 200px;
    width: 100%;
  }
  .carouselImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .imageText {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  .imageTextBelow {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 14px;
  }
  
}
