.imageContainer {
  position: relative;
  overflow: hidden;
}

.carouselImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageText {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.imageTextBelow {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 14px;
}

.scrollableRow {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  .col {
    flex: 0 0 auto;
    scroll-snap-align: center;
    width: 300px;
  }
}

@media (max-width: 768px) {
  .scrollableRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: visible;
  }
}
