.neckContainer {
  background-color: #0b7a3f !important;
  height: 100px;
  width: 100vw;
  position: relative;
}
.title {
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
  text-align: start;
  padding-left: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}


@media (max-width: 768px) {
  .neckContainer {
    background-color: #0b7a3f !important;
    height: 100px;
    width: 100vw !important;
    padding: 0;
    margin: 0;
  }
  .title {
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    text-align: start;
  }
}
